/* bootstrap.css上書き用 */

body{
    background-color:  #fff8dc;
}

a > i {
    color: #3da3e7;    
}

a:hover > i {
    color: #0984d6;
}

h1, h2, h3 {
    border-width : 0 0 0 8px;
    border-style : solid;
    padding-left : 0.3em;
    padding-right : 0.5em;
}

h1 {
    margin: 0em 0em 0em 0em;
    font-size : 1.2em;
    color : white;
    border-color : #fff8dc;
    background-color : maroon;
    border-width: 0.1em 0em 0.1em 0.1em;
    padding-left : 0.3em;
    padding-right : 0.5em;
    padding-top : 0.2em;
    padding-bottom : 0.2em;
}

h2 {
    font-size : 1.2em;
    color: navy;
    border-color : navy
}

h3 {
    font-size : 1em;
    color : darkgreen;
    border-color : darkgreen
}

table {
    border-width : 1px,2px,2px,1px;
    border : solid;
    border-color : gray;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color : gray;
}

th, td {
    border-width : 1px,0px,0px,1px;
    border : solid;
    border-color : gray;
    padding : 4px;
    background-color : #ffffef;
}

th {
    text-align : center;
    font-weight : bold;
    background-color : #a0b8c8;
}

.header {
    background-color: #fff;
    border-bottom: 1px solid #D4DACB;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
}

.header-top {
    margin: 0em 0em 0em 0em;
    border-color : #fff8dc;
    background-color : maroon;
    height: 30px;
}

.header-title {
    white-space: nowrap;
}

.icon {
    text-align: center;
}

.input-group {
    width:70%;
}