<%# -*- coding: utf-8 -*-%>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(function () {
      // header.htmlとfooter.htmlをテンプレート化
      $('#header').load('header.html');
      $('#footer').load('footer.html');
    });
  </script>
</head>

<body>
  <div class="header">
    <div id="header"></div>
    <!-- header.htmlをここに表示する -->
  </div>
  <div class="container">
    <p><a href="list.erb">蔵書データの表示</a>｜
      <a href="index.html">メニュー画面に戻る</a></p>
    <h2>蔵書データの削除</h2>
    <p>下記の蔵書データを削除しました｜</p>

    <hr>
    <% rows.each do |row| %>
      <table>
        <%# select文の実行結果のidが指定されたデータを取り出し、繰り返し処理する %>
        <th>項目名</th>
        <th>削除データ</th>
        <%# each_with_nameメソッドで値と項目名を1件分ずつ取り出して表示する %>

        <% row.each_with_name do |val, name| %>
        <tr>
          <td><%= name %></td>
          <%  if name == 'image_url' then%>
          <td><img src="<%=val%>" class='img-thumbnail' style='width:100px; height:100;'></td>
          <% else %>
          <td><%= val.to_s %></td>
          <%end%>
        </tr>
        <% end %>
      </table>
      <%end%>
    <hr>
  </div>
  <div id="footer"></div>
</body>

</html>