<%# -*- coding: utf-8 -*-%>
<% require 'rubygems' # RubyGemsでインストールしたときには記述  %>
<% require 'dbi'      # DBIを使う %>

<%# dbhを作成し、データベース'bookinfo_sqlite.db'に接続する %>
<% dbh = DBI.connect( 'DBI:SQLite3:bookinfo_sqlite.db' ) %>

<%# テーブルから修正対象データを読み込んで表示する %>
<%# select文の実行 %>
<% sth = dbh.execute("select * from bookinfos where id=\'#{target_id}\'") %>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(function () {
      // header.htmlとfooter.htmlをテンプレート化
      $('#header').load('header.html');
      $('#footer').load('footer.html');
    });
  </script>
</head>

<body>
  <div class="header">
    <div id="header"></div>
    <!-- header.htmlをここに表示する -->
  </div>
  <div class="container">
    <p><a href="list.erb">蔵書データの表示</a>｜
      <a href="index.html">メニュー画面に戻る</a></p>
    <h2>蔵書データの修正</h2>
    <p>このデータを修正します</p>
    <hr>

    <%# 修正データを表示する アクションはedit %>
    <form method="post" action="edit">
      <input type="hidden" name="id" value="<%= target_id %>" />
      <table>
        <%# select文の実行結果のidが指定されたデータを取り出し、繰り返し処理する %>
        <% sth.each do |row| %>
        <th>項目名</th>
        <th>修正データ</th>
        <% ['id','title','author','page','publish_date'].each do |name| %>
        <tr>
          <td><%= name %></td>
          <td><input name="<%= name %>" value="<%= row[name] %>" size="60" /></td>
        </tr>
        <% end %>
        <% end %>
      </table>
      <input type="submit" class="btn btn-secondary" value="修正を実行" />
    </form>
    <hr>
  </div>
  <div id="footer"></div>
</body>

</html>